beautifulsoup4==4.11.1
gensim==4.2.0
jupyter-contrib-nbextensions==0.5.1
matplotlib==3.6.2
nltk==3.7
numpy==1.23.5 
pandas==1.4.2
pyLDAvis==3.3.1
spacy==3.4.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.4.1/en_core_web_lg-3.4.1.tar.gz
tld==0.12.6